* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px 30px;
    font-size: 24px;
}

h1 {
  margin-bottom: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
  }
  
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
#result {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
  }

#result:hover {
    cursor: pointer;
    border-bottom: 1px solid;
  }